<div class="login-container" ng-controller="loginController as loginCtrl">
    <h1>{{ loginCtrl.msg }}</h1>
    <div class="login-form">

        <form name="loginForm" ng-submit="loginCtrl.login(loginForm.$valid)" novalidate>
            <div class="form-group">
                <label>Username</label>
                <input type="text"
                       ng-model="loginCtrl.user.username"
                       ng-required="true"
                       class="form-control"
                       name="usernameInput"
                       ng-disabled="loginCtrl.showFP"
                       placeholder="Enter Username">
                <p ng-show="loginForm.usernameInput.$invalid && !loginForm.usernameInput.$pristine" class="help-block">Username is required</p>

            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       ng-model="loginCtrl.user.password"
                       ng-required="true"
                       class="form-control"
                       name="passwordInput"
                       placeholder="Enter Password">
                <p ng-show="loginForm.passwordInput.$invalid && !loginForm.passwordInput.$pristine" class="help-block">Password is required</p>
            </div>
            <input type="submit"
                       class="btn btn-success btn-lg"
                       value="Login"
                       ng-disabled="loginForm.$invalid">
            <button class="btn" ng-click="toggleFP()" ng-disabled="loginForm.usernameInput.$invalid">Forgot your password?</button>
        </form>
        <div>
            {{loginCtrl.errorMessage}}
        </div>

        <div name="forgotPass" ng-show="loginCtrl.showFP">
            <form name="questionForm" ng-submit="loginCtrl.validateQuestion(questionForm.$valid)" novalidate>
                <p>{{ loginCtrl.question }}</p>
                <div class="form-group">
                    <label>Answer</label>
                    <input type="text"
                           ng-model="loginCtrl.answer"
                           ng-required="true"
                           class="form-control"
                           name="answerInput"
                           ng-disabled="!loginCtrl.validUser"
                           placeholder="Enter Answer">
                    <p ng-show="questionForm.answerInput.$invalid && !questionForm.answerInput.$pristine" class="help-block">Answer is required</p>
                </div>

                <input type="submit"
                       class="btn btn-success btn-lg"
                       value="Submit"
                       ng-disabled="!loginCtrl.validUser">

                <p>{{ loginCtrl.answerOutput }}</p>
            </form>
        </div>
    </div>
</div>
