

<div class="products-container" ng-controller="productsController as pc">
    <h1>{{ pc.msg }}</h1>
    <h3>This is the Products view</h3>
    <table>
        <tr ng-repeat="x in pc.beers">
            <td>{{ x.BeerName }}</td>
            <td>{{ x.CategoryName }}</td>
            <td>{{ x.AlcoholPercentage  }}%</td>
            <td>{{ x.Price   }}</td>
            <td>{{ x.Volume  }} ml</td>
            <td>{{ x.AddedOn | date }}</td>
            <td><img src="{{x.Picture}}"  style="width:304px;height:228px;">
            </td>
            <td>
                <button>Details</button>
            </td>
        </tr>
    </table>

    <div id="dialogContainer" layout="row" ng-cloak>
        <md-content>
            <h4>Standard Alert</h4>
            <md-button class="md-primary md-raised" ng-click="showAlert($event)" flex="100"  flex-gt-md="auto">
                Alert
            </md-button>
            <h4>Confirm Dialog Box</h4>
            <md-button class="md-primary md-raised" ng-click="showConfirm($event)"  flex="100"  flex-gt-md="auto">
                Confirm
            </md-button>
            <h4>Custom Dialog Box</h4>
            <md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
                Custom
            </md-button>
            <div ng-if="status">
                <br/>
                <b layout="row" layout-align="center center" class="md-padding">
                    {{status}}
                </b>
            </div>
        </md-content>
    </div>

</div>
