<head>
    <meta charset="UTF-8">
    <title>The Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<div class="products-container" ng-controller="productsController as pc">

 <!-- npm install angular-material.-->
    <h1>{{ pc.msg }}</h1>
    <h3>This is the Products view</h3>
    <input type="text" ng-model="pc.filterBy">

    <table>
        <thead>
        <tr>
            <th><a href="" ng-click="pc.fieldToOrderBy='BeerName'; pc.reverseSort = !pc.reverseSort">Name</a></th>
            <th><a href="" ng-click="pc.fieldToOrderBy='CategoryName'; pc.reverseSort = !pc.reverseSort">Category</a></th>
            <th><a href="" ng-click="pc.fieldToOrderBy='Price'; pc.reverseSort = !pc.reverseSort">Price</a></th>
            <th></th>
            <th>Details & Purchase</th>
        </tr>
        </thead>
        <tr ng-repeat="x in pc.beers  | filter : pc.filterBy |orderBy:pc.fieldToOrderBy:pc.reverseSort ">
            <td>{{ x.BeerName }}</td>
            <td>{{ x.CategoryName }}</td>
            <td>{{x.Price | currency:"ILS "}}   /  {{x.Price/pc.conversionRate  | currency}}</td>
            <td><img ng-src="{{x.Picture}}"  style="width:304px;height:228px;">
            </td>
            <td>
                <button type="button" ng-click="open(x)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Details</button>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="decreaseItemCount(x)" ng-hide="!loginState">-</button>
            </td>
            <td>
                <lable ng-hide="!loginState"> {{x.Quantity}} </lable>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="increaseItemCount(item)" ng-hide="!loginState">+</button>
            </td>


        </tr>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <style scoped>
            @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
        </style>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{pc.selectedBeer.BeerName}}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <b>Country of origin:</b> {{pc.selectedBeer.CategoryName}}
                        <br>
                        <b>Alcohol by Volume:</b> {{pc.selectedBeer.AlcoholPercentage}}%
                        <br>
                        <b>Added to Site:</b> {{pc.selectedBeer.AddedOn | date}}
                        <br>
                        <b>Price: </b> {{pc.selectedBeer.Price | currency:"ILS "}}   /  {{pc.selectedBeer.Price/
                        pc.conversionRate| currency}}
                        <br> <img ng-src="{{pc.selectedBeer.Picture}}"  style="width:304px;height:228px;">

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="decreaseItemCount()" ng-hide="!loginState">-</button>
                    <lable ng-hide="!loginState"> Quantity: {{pc.selectedBeerQuantity}} </lable>
                    <button type="button" class="btn btn-default" ng-click="increaseItemCount()" ng-hide="!loginState">+</button>
                    <button ng-hide="!loginState" type="button" class="btn btn-default" ng-click ="pc.addToCart()" ng-disabled="pc.selectedBeerQuantity==0" data-dismiss="modal" >Add to Cart</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
