<div class="register-container" ng-controller="registerController as rc">
    <div class="register-form">
        <form novalidate>
            User Name<br>
            <input type="text" ng-model="rc.username" ng-blur="validateUniqueUsername()"><br>
            Password:<br>
            <input type="password" ng-model="rc.password">
            <br>
            Preferred categories
            <br>
            <label ng-repeat="category in rc.categoies">
                <input
                        type="checkbox"
                        name="selectedCategories[]"
                        value="{{category.Name}}"
                        ng-checked=""
                        ng-click="toggleSelection(category.ID)"
                > {{category.Name}}
            </label>
            <br>
            Your country
            <br>
            <select ng-model="country" ng-options="x.Name for x in rc.countries"></select>
            <br>
            Question
            <br>
            <select ng-model="question" ng-options="x for x in rc.allQuestions"></select>
            <br>
            Answer
            <br>
            <input type="text" ng-model="rc.answer"><br>

                <br><br>
            <button ng-click="reset()">RESET</button>
        </form>
        <p>form = {{rc.username}}</p>
        <p>master = {{rc.password}}</p>
    </div>

</div>