.form-control {
    display: block;
    width: 440px;
    font-size:24px;
}

.login-form {
    text-align: left;
    margin-left:100px;
    margin-right: auto;
}

#login_button, #forgot_password_button {
    background-color: rgba(254, 189, 105,1);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    margin-right:5px;
    margin-left:5px;

}

#question {
    font-size: 24px;
    font-weight: bold;
    color: rgb(167, 0, 0);
}

.help-block {
    font-size: 24px;
    font-weight: bold;
    color: rgb(167, 0, 0);
}

label {
    /*text-align: center;*/
    font-size: 24px;
}

h1 {
    /*text-align: center;*/
    font-size: 40px;
}

#login_buttons_div
{
    display: inline-block;
    float: none;
}

#user_name_input input[type=text]
{
    display: inline-block;
    float: left;
}