.btn {
    background-color: rgba(254, 189, 105,1);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    margin-right:5px;
    margin-left:5px;
}

.btn:hover, .btn:active, .btn:visited {
    background-color: rgba(254, 189, 105,1);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    margin-right:5px;
    margin-left:5px;
}

#filter {
    display: block;
    width: 440px;
    font-size:24px;
}
